---
import "../styles/global.css";
import Navbar from "../components/Navbar";
---

<html lang="en" data-theme="retro">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>samir.dev</title>
  </head>
  <body>
    <Navbar />
    <h1>hello world!</h1>
  </body>
</html>
